/* Colour Pallete

Flamingo = #F45C2C
Tundora = #443C44
Shingle Fawn = #744C38
Hillary (Beige) = #B4A48C
*/

/* Global
------------------------------------------*/
body {
    background-color: #636363;
}

/* Logo
------------------------------------------*/
.logo{
    width:200px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

/* Asset Register
------------------------------------------*/

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
}

li a {
    text-decoration: none;
    padding: 2px 7px;
    font-weight: bold;
    margin: 0px;
    display: inline-block;
}

li a:hover {
    background: #F45C2C;
    color: #443C44;
}

/* Asset Register
------------------------------------------*/

.sub-heading {
    font-size: 1.2em;
    padding: 5px;
    padding-left: 30px;
    background-color: #443C44;
    color: #F45C2C;
    font-weight: bold;
}

 /* MSDS Register
------------------------------------------*/

@media screen and (max-width: 520px) {
    .logo {
        width: 125px;
        height: auto;
        padding: 10px;
        margin: 10px;
    }

    caption {
        font-size: 30px;
        text-align: left;
    }
    td {
        padding: 2px 9px;
    }
    
    td:first-child {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 521px) and (max-width: 750px) {
    table caption {
        font-size: 35px;
        text-align: left;
    }
    td {
        padding: 4px 11px;
    }
    
    td:first-child {
        font-size: 1rem;
    }
    th {
        font-size: 1.1rem;
        padding: 8px 31px;
    }
}

@media screen and (min-width: 651px) and (max-width: 1020px) {
    table caption {
        font-size: 45px;
        text-align: left;
    }
    td {
        padding: 6px 13px;
    }
    
    td:first-child {
        font-size: 1.1rem;
    }
    th {
        font-size: 1.2rem;
        padding: 10px 33px;
    }
}

@media screen and (min-width: 1021px) {
    table caption {
        font-size: 50px;
        text-align: center;
    }
    td {
        padding: 8px 15px;
    }
    
    td:first-child {
        font-size: 1.2rem;
    }
    th {
        font-size: 1.3rem;
        padding: 12px 35px;
    }
}

caption {
    color: #F45C2C;
}

td {
    color: #B4A48C;
}

td:first-child {
    font-weight: bold;
}

th {
    color: #443C44;
    text-align: left;
    border-bottom: 2px solid #000;
}

th:first-child {
    padding: 12px 50px;
}

a {
    color: #B4A48C;
    font-weight: bold;
}

tbody {
    border-bottom: 3px solid #000;
}

table {
    transform: translate(0,0);
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 500px;
}


/* table media query
@media (max-width: 500px) {
    table, tr, td {
        display: block;
    }
    th, thead {
        display: none;
    }
    td:nth-child(1)::before {
        content: "Product: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(2)::before {
        content: "Manufacturer: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(3)::before {
        content: "Product Code: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(4)::before {
        content: "DG Class: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(5)::before {
        content: "Product Labbled: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(6)::before {
        content: "MSDS < 5 years: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(7)::before {
        content: "MSDS Issue Date: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(8)::before {
        content: "Storage Location: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    td:nth-child(9)::before {
        content: "Controls: ";
        font-weight: bold;
        font-size: 1.2rem;
    }
    tbody tr:nth-child(even) {
        background-color: rgba(68, 60, 68, 0.5);
    }
    tbody {
        border: 1px solid #000;
    }
    table {
        transform: translate(0,100px)
    }
} */

/* Redbower Prestart list
------------------------------------------*/

button {
    border-radius: 5px;
    font-size: 20px;
    background-color: #443C44;
    border: none;
    padding: 5px;
}

button a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: #443C44;
}

button:hover {
    background-color: #B4A48C;
}
